<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:include="fragments/header :: header"/>
<div th:if="${not #lists.isEmpty(plants)}">
<h2>Plant List</h2>
<table class ="table table-striped">
    <tr>
        <th>Plant Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Care How-To</th>
        <th>Plant Type</th>
        <th>Image</th>
    </tr>
    <tr th:each="plant : ${plants}">
        <td th:text="${plant.id}">Id</td>
        <td th:text="${plant.name}">Name</td>
        <td th:text="${plant.desc}">Description</td>
        <td th:text="${plant.care}">Care</td>
        <td th:text="${plant.type.name}">Type</td>
        <td> <img src="../static/images/NewBannerBOOTS_2.png" width ="300"
        th:src="${plant.imgurl}"/></td>
    </tr>
</table>
</div>

</body>
</html>